.line-text {
    font-family: "Arial", bold;
    text-transform: uppercase;
    position: relative;
    top: 8px;
    font-size: small;
    color: #C4C4C4;
}

* {
    box-sizing: border-box;
}

.header {
    border: 0px solid red;
    padding: 1px;
    background: #F8F8FF;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 0px;
    border: 0px solid red;
    width: 100%;
}

#header_color {
    background: #556270;
}

li {
    list-style-type: none;
    display: inline-block;
    padding: 1px 1px 15px 1px;
}

a:link {
    text-decoration: none;
}

#ex3 {
    float: left;
    padding: 1px;
}

#ex2 {
    float: right;
    padding: 1px;
}

#ex1 {
    height: auto;
    padding: 7px 5px 7px 25px
}

img {
    padding: 7px 5px 7px 5px;
    width: 100%;
}

@media only screen and (min-width: 768px) {

    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    .header {
        background: none;
    }

    #ex1 {
        background-image: url( https://s3.amazonaws.com/codecademy-content/courses/ltp/img/lodging.png);
        background-repeat: no-repeat;
        height: 8.8cm;
        background-size: 100% 100%;
        background-position: 50% 50%;
        margin: 0px 0px 0px 0px;
        padding: 70px 10px 25px 100px;
        color: white;
    }
}
    .full {
        display: inline-block;
        border: 1px solid #ccc;
        background-color: #F5F5F5;
        margin: 0px 0px 5px 0px;
        padding: 30px 0px 10px 30px;
        height: 5cm;
}
